html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', cursive;
    font-size: 20pt;
    text-align: center;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}

#title {

    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;


}
span {
    border: 4px dashed #20bcd5;
    padding: 10px;

}

section {
    background-color: #fff;
    padding: 15px;
    margin: 15px;
    height: 390px;
    width: 500px;
    /*margin-bottom: 10px;*/
    border-radius: 10px;
}

header img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 3px solid white;
    border-radius: 50%;

}
header h2 {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

#bakeli{
    text-align: center;
}

#block{
    display: inline-block;
}